body {
	background: #f2f2f2 url('https://fondosmil.com/fondo/29364.jpg') no-repeat center center fixed;
	background-size: cover;
    text-align: center;
}
h1 {text-align: center;}
h2 {text-align: center;}
